.getdavesbe-block-editor__block-list {
	padding-bottom: $grid-size-xlarge;
    padding-top: $grid-size-xlarge + 5;
    margin-left: auto;
    margin-right: auto;
}


.editor-styles-wrapper {
	-webkit-overflow-scrolling: touch;
	background: $white;
	height: calc(100% - #{$header-height});
	left: 0;
	overflow: auto;
	position: absolute;
	top: $header-height;
	width: 100%;

	@include break-small {
		width: calc(100% - #{$sidebar-width});
	}
}

// Grab the default Editor styles for visual consistency with WP
.editor-styles-wrapper {
	// We need the styles scoped to "body" to be added to the
	// div.editor-styles wrapper
	font-family: $editor-font;
	font-size: $editor-font-size;
	line-height: $editor-line-height;
	color: $dark-gray-900;

	// Important all other selectors scoped underneath
	// `div.editor-styles-wrapper`
	@import "~@wordpress/editor/src/editor-styles.scss";
}


.getdavesbe-block-editor__block-list {
    .block-editor-block-list__block {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block {
        max-width: $content-width;
    }
}

