



.getdavesbe-block-editor__block-list {
	padding-bottom: $grid-unit-60;
	padding-top: $grid-unit-60 + 5;
	margin-left: auto;
	margin-right: auto;

    .block-editor-block-list__block {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block {
        max-width: $content-width;
    }
}

